<ion-header>
  <ion-toolbar>
    <ion-title>修改衣物</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">关闭</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="editClothingItem()">
    <ion-item>
      <ion-label position="stacked">衣物名称</ion-label>
      <ion-input [(ngModel)]="editedItem.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">类型</ion-label>
      <ion-input [(ngModel)]="editedItem.type" name="type" id="open-modal"></ion-input>
      <!--      <ion-button id="open-modal">Open modal</ion-button>-->
    </ion-item>
    <ion-modal #modal trigger="open-modal" [isOpen]="false" (didDismiss)="onDidDismiss($event)">
      <ng-template>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="modal.dismiss(null, 'cancel')">取消</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss(editedItem.type, 'confirm')">确定</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-picker>
          <ion-picker-column [value]="editedItem.type" (ionChange)="onIonChange($event)">
            <ion-picker-column-option value="" disabled="true">--</ion-picker-column-option>
            <ion-picker-column-option value="春秋装">春秋装</ion-picker-column-option>
            <ion-picker-column-option value="冬装">冬装</ion-picker-column-option>
            <ion-picker-column-option value="夏装">夏装</ion-picker-column-option>
          </ion-picker-column>
        </ion-picker>
      </ng-template>
    </ion-modal>
    <ion-item>
      <ion-label position="stacked">图片</ion-label>
      <input type="file" (change)="onFileSelected($event)" accept="image/*">
    </ion-item>
    <ion-item *ngIf="editedItem.image">
      <img [src]="editedItem.image" alt="Clothing Image" style="max-width: 100%; max-height: 200px;" />
    </ion-item>
    <ion-item>
      <ion-label position="stacked">购买时间</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime [value]="editedItem.created" id="datetime" (ionChange)="dateFn($event)"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
    <ion-button expand="full" type="submit">保存修改</ion-button>
  </form>
</ion-content>
