<!-- src/app/components/add-clothing-item/add-clothing-item.component.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>添加衣物</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">关闭</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="addClothingItem()">
    <ion-item>
      <ion-label position="stacked">衣物名称</ion-label>
      <ion-input [(ngModel)]="newItem.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">类型</ion-label>
      <ion-input [(ngModel)]="newItem.type" name="type"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">颜色</ion-label>
      <ion-input [(ngModel)]="newItem.color" name="color"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">尺码</ion-label>
      <ion-input [(ngModel)]="newItem.size" name="size"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">图片路径</ion-label>
      <ion-input [(ngModel)]="newItem.image" name="image"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">添加</ion-button>
  </form>
</ion-content>
