<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-icon name="logo-ionic"></ion-icon>
    <ion-icon name="logo-ionic" size="large"></ion-icon>
    <ion-icon name="logo-ionic" color="primary"></ion-icon>
    <ion-icon name="logo-ionic" size="large" color="primary"></ion-icon>
  </ion-content>
</ion-content>
